* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 2rem;
}

:root {
  font-size: 62.5%;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  min-height: 4rem;
  background-color: #292929;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 3rem;
  gap: 0.8rem 1.5rem;
}

.logoNavbar {
  width: 18rem;
}

.headerBtnGroup {
  display: flex;
  gap: 1.5rem;
}

.navBtn {
  font-size: 1.6rem;
  padding: 0.6rem;
  background-color: transparent;
  border: 2px solid transparent;
  color: white;
  cursor: pointer;
  transition: 0.4s;
}

.navBtn:hover {
  border-bottom: 2px solid black;
}

.sectionTitle {
  font-size: 2.6rem;
  font-family: "Arial", "Helvetica", sans-serif;
  text-align: center;
  padding-top: 2rem;
}

.sectionDescription {
  text-align: center;
  color: #383838;
}

.cardSection {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "mainContent sidebarContent";
  padding: 2rem;
  flex: 1 0 auto;
}

.mainContent {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  grid-area: mainContent;
}

.categoryCard {
  width: 28rem;
  height: 38rem;
  border: 2px solid transparent;
  border-radius: 1rem;
  transition: 0.5s;
  cursor: pointer;
}

.categoryCard:hover {
  border-color: black;
}

.mainCardImg {
  width: 100%;
  height: 18rem;
  border-radius: 1rem;
}

.mainCategoryCardTitle {
  font-family: "Arial", "Helvetica", sans-serif;
  padding: 0.6rem;
}

.mainCategoryCardDescription {
  padding: 0.6rem;
}

.sidebarContent {
  background-color: #383838;
  color: white;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 30rem;
  grid-area: sidebarContent;
  gap: 2rem;
}

.sidebarCard {
  width: 75%;
  border: 1px solid transparent;
  border-radius: 1rem;
  transition: 0.5rem;
  cursor: pointer;
}

.sidebarCard:hover {
  border-color: gainsboro;
}

.sidebarCardImg {
  width: 100%;
  border-radius: 1rem;
}

.sidebarCardTitle {
  font-family: "Arial", "Helvetica", sans-serif;
  text-align: center;
  padding: 1rem 0rem;
}

.footer {
  width: 100%;
  min-height: 4rem;
  background-color: #292929;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  gap: 1.5rem;
}

.logoFooter {
  width: 18rem;
}

.footerAnchor {
  color: white;
  text-decoration: none;
}

@media (max-width: 630px) {
  .mainContent {
    justify-content: center;
  }

  .cardSection {
    grid-template-areas:
      "mainContent"
      "sidebarContent";
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .sidebarContent {
    min-width: auto;
  }

  .footerAnchor {
    font-size: 1.9rem;
  }
}

@media (max-width: 463px) {
  .header,
  .footer {
    justify-content: center;
  }
}
